@use 'variables' as vars;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

//TODO this can actually be deleted, no longer using, converted to a mixin
.buttonWrapper a
{
    display: block;
    font-size: 24px;
    font-family: vars.$sansFont;
    font-style: normal;
    text-decoration: none;
    color: vars.$white;
    border-top: 2px solid vars.$white;
    border-bottom: 2px solid vars.$white;
    padding: 10px;
    padding-top: 16px;
    letter-spacing: 2px;
    transition: all .25s;
    text-transform: uppercase;
    cursor: pointer;
    &:hover{
        letter-spacing: 5px;
        text-decoration: underline;
        text-decoration-color:vars.$darkPurple;
        background-color: vars.$white;
        color: vars.$darkPurple;
        
    }
}