@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
nav {
  height: 4rem;
  width: 100vw;
  padding: 0px 10px;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  position: sticky;
  top: 0px;
  z-index: 1005;
  background-color: white;
  /*Stying for small screens*/
}
nav a:not(.homeLink):not(.navButton) {
  text-decoration: none;
  text-transform: uppercase;
  color: #6B2D5C;
  font-size: 20px;
  font-family: Poppins, sans-serif;
  margin: auto 20px;
  display: inline-block;
  position: relative;
}
nav a:not(.homeLink):not(.navButton)::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #4b2140;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
nav a:not(.homeLink):not(.navButton):hover {
  color: #4b2140;
  font-weight: bold;
}
nav a:not(.homeLink):not(.navButton):hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
nav .navLink.active {
  color: #9b9898 !important;
  font-weight: bold !important;
}
nav .navButton {
  text-decoration: none;
  text-transform: uppercase;
  color: #6B2D5C;
  font-weight: bold;
  font-size: 20px;
  align-items: center;
  background-color: white;
  border: 1.5px solid #6B2D5C;
  margin: 0px 10px;
  padding: 5px 15px;
  border-radius: 30px;
  position: relative;
}
nav .navButton::after {
  background-color: #6B2D5C;
  border-radius: 30px;
  content: "";
  display: block;
  height: 40px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(4px, 6px);
  transition: transform 0.5s ease-out;
  z-index: -1;
}
nav .navButton:hover {
  outline: 0;
  color: #4b2140;
  background-color: #f4f0f5;
}
nav .navButton:hover:after {
  transform: translate(0, 0);
  background-color: #4b2140;
}
nav #navHome {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  font-size: 20px;
}
nav #navHome a {
  text-decoration: none;
}
nav #navLogo {
  height: 3rem;
  width: 3.3rem;
  margin-top: 5px;
}
nav #navLogo:hover {
  animation: spin 9.5s linear infinite;
}
nav h4 {
  text-decoration: none;
  text-transform: uppercase;
  color: #6B2D5C;
  font-size: 20px;
  font-family: Poppins, sans-serif;
  font-weight: 200;
  position: relative;
}
nav h4::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #6B2D5C;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
nav h4:hover {
  font-weight: bold;
}
nav h4:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
nav .homeLink {
  margin: auto 20px;
}
nav .linkHolder {
  flex-direction: row;
  font-family: Poppins, sans-serif;
  display: flex;
  list-style: none;
  padding: 0 0.4vw;
  padding-left: 0;
  margin: 0;
  justify-content: space-evenly;
  align-items: center;
}
nav .hamburger div {
  width: 35px;
  height: 3px;
  background: #6B2D5C;
  margin: 5px;
  transition: all 0.3s ease;
}
nav .hamburger div:hover {
  color: #4b2140;
}
nav .hamburger {
  display: none;
}
nav .hiddenImage {
  display: none;
}
@media (max-width: 1150px) {
  nav {
    /*Animating Hamburger Icon on Click*/
  }
  nav .hamburger {
    display: block;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
    transition: all 0.7s ease;
  }
  nav .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  nav .toggle .line2 {
    transition: all 0.7s ease;
    width: 0;
  }
  nav .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
  nav .linkHolder {
    position: fixed;
    top: 0px;
    margin: 0px;
    margin-top: 4rem;
    left: 0px;
    background: #f4f0f5;
    height: 500vh;
    width: 100%;
    flex-direction: column;
    transition: all 1s ease-out;
    pointer-events: none;
    opacity: 0;
  }
  nav .linkHolder.open {
    pointer-events: all;
    height: 100vh;
    opacity: 1;
  }
  nav .linkHolder li {
    opacity: 0;
  }
  nav .linkHolder li.fading {
    opacity: 1;
  }
}

#hamburgerGraphicRight, #hamburgerGraphicLeft {
  display: none;
  height: 10vh;
  -webkit-filter: invert(37%) sepia(15%) saturate(1045%) hue-rotate(262deg) brightness(88%) contrast(89%);
  filter: invert(37%) sepia(15%) saturate(1045%) hue-rotate(262deg) brightness(88%) contrast(89%);
}

#hamburgerGraphicRight {
  bottom: calc(10px + 12vh);
  left: 100px;
}

#hamburgerGraphicLeft {
  top: calc(10px + 10vh);
  right: 100px;
}

.imageFading {
  display: inline-block !important;
  position: absolute;
}

@media (max-width: 448px) {
  nav {
    height: 6rem;
  }
  .linkHolder {
    margin-top: 6rem !important;
  }
  #navHome {
    flex-direction: column !important;
  }
}
@media (max-width: 624px) {
  #hamburgerGraphicRight {
    bottom: calc(10px + 12vh);
    left: 40px;
  }
  #hamburgerGraphicLeft {
    top: calc(10px + 10vh);
    right: 40px;
  }
}
@media (max-width: 502px) {
  #hamburgerGraphicRight, #hamburgerGraphicLeft {
    height: 7vh;
  }
}
#footer {
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
  background-color: #f4f0f5;
  color: #7a5070;
  margin: 0px;
  padding-top: 20px;
  width: 100vw;
  font-family: Poppins, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}
#footer #footerLogo {
  width: 2ren;
  height: 2rem;
  margin: 20px 0px;
}
#footer #footerLinks {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: start;
  width: calc(100% - 100px);
  margin-right: 100px;
}
#footer #footerLinks i {
  color: rgba(75, 33, 64, 0.1882352941);
}
#footer #footerLinks h2 {
  font-weight: lighter;
  color: #7a5070;
}
#footer #footerLinks li {
  padding-right: 30px;
  border-right: 1px solid #E5E6E4;
  width: 30%;
  height: 300px;
}
#footer #footerLinks .subLinks {
  font-weight: 300;
  color: #7a5070;
  margin: auto;
  margin-top: 20px;
  width: 90%;
}
#footer #footerLinks .subLinks p {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}
#footer #footerLinks .subLinks p .weekDay {
  width: 150px;
}
#footer #footerLinks .subLinks i {
  margin-right: 10px;
  width: 30px;
}
#footer #footerLinks .subLinks a {
  color: #6B2D5C;
}
#footer #footerLinks .subLinks a:hover {
  color: #9b9898;
}
#footer hr {
  border: 0;
  width: 98%;
  height: 5px;
  margin: auto;
  background-image: linear-gradient(to right, rgba(75, 33, 64, 0.1882352941), rgba(75, 33, 64, 0.4588235294), rgba(75, 33, 64, 0.1882352941));
}
#footer #hrImageHolder {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  margin-right: 1%;
}
#footer #hrImageHolder h3 {
  color: #7a5070;
  text-transform: none;
  min-width: 350px;
}
#footer #hrImageHolder #footerHrImage {
  height: 150px;
  -webkit-filter: invert(37%) sepia(15%) saturate(1045%) hue-rotate(262deg) brightness(88%) contrast(89%);
  filter: invert(37%) sepia(15%) saturate(1045%) hue-rotate(262deg) brightness(88%) contrast(89%);
}
#footer #footerNav {
  margin: 0px;
  padding: 10px;
  color: #9b9898;
  font-size: 10px;
  width: 100vw;
  display: flex;
  justify-content: center;
}
#footer #footerNav a {
  margin-left: 10px;
  color: #9b9898;
}

@media (max-width: 770px) {
  #hrImageHolder #footerHrImage {
    height: 100px !important;
  }
  #hrImageHolder h3 {
    min-width: 200px !important;
  }
}
@media (max-width: 516px) {
  #hrImageHolder #footerHrImage {
    height: 70px !important;
  }
  #hrImageHolder h3 {
    min-width: 100px !important;
    font-size: smaller;
  }
}
@media (max-width: 1280px) {
  #footerLinks {
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
  }
  #footerLinks li {
    display: flex;
    flex-direction: column;
    width: 100% !important;
    align-items: center !important;
    border: none;
    border-bottom: 1px solid #E5E6E4;
    border-right: 0px !important;
    padding: 20px;
    height: fit-content !important;
  }
}
@media (max-width: 435px) {
  #footerLinks {
    width: 100% !important;
    margin: 0px !important;
  }
  #footerLinks li {
    width: 100%;
  }
  .subLinks {
    width: 100% !important;
  }
  .weekDay {
    width: 100px;
  }
}
.videoHeader {
  height: 70vh;
  width: 100%;
  margin-top: 0px;
  position: relative;
}
.videoHeader .fullSectionVid {
  height: 70vh;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0px;
  z-index: 0;
  filter: brightness(50%);
}
.videoHeader .videoOverlayText {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  margin: 2% 0px;
  z-index: 3 !important;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #f4f0f5;
  font-family: Poppins, sans-serif;
  text-align: center;
}
.videoHeader .videoOverlayText h2 {
  text-transform: uppercase;
  font-size: 5vw;
}
.videoHeader .videoOverlayText h3 {
  text-transform: uppercase;
  font-size: 3vw;
  font-family: Poppins, sans-serif;
  color: white;
}
.videoHeader .videoOverlayText h4 {
  margin-top: 5vh;
  text-align: center;
  font-size: 2vw;
  margin-bottom: 2vh;
}

@media (max-width: 770px) {
  .videoHeader {
    filter: brightness(45%);
    height: 50vh;
  }
  .videoHeader .fullSectionVid {
    height: 50vh;
  }
  .videoOverlayText h4 {
    font-size: 4vw !important;
  }
}
@media (max-width: 450px) {
  .videoHeader {
    filter: brightness(45%);
    height: 60vh;
  }
  .videoHeader .fullSectionVid {
    height: 60vh;
  }
  .videoOverlayText h4 {
    font-size: 5vw !important;
  }
}
.buttonWrapper a {
  display: block;
  font-size: 24px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  text-decoration: none;
  color: #f4f0f5;
  border-top: 2px solid #f4f0f5;
  border-bottom: 2px solid #f4f0f5;
  padding: 10px;
  padding-top: 16px;
  letter-spacing: 2px;
  transition: all 0.25s;
  text-transform: uppercase;
  cursor: pointer;
}
.buttonWrapper a:hover {
  letter-spacing: 5px;
  text-decoration: underline;
  text-decoration-color: #4b2140;
  background-color: #f4f0f5;
  color: #4b2140;
}

#homeServicesOfferedLinks #homeServicesOfferedLinksTitle {
  font-family: Poppins, sans-serif;
  font-size: 1.8rem;
  color: #7a5070;
  padding: 20px 0px;
  padding-left: 30px;
  font-weight: lighter;
  background-color: #f4f0f5;
}
#homeServicesOfferedLinks ul {
  list-style: none;
  width: 100%;
  padding: 0px;
  margin: 0px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  background-color: #f4f0f5;
  padding-bottom: 20px;
}
#homeServicesOfferedLinks ul .largeLinkCard {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #6B2D5C;
  font-family: Poppins, sans-serif;
  border: 2px solid #E5E6E4;
  margin: 10px;
  border-radius: 20px;
  background-color: #f2ecf3;
  height: 170px;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
}
#homeServicesOfferedLinks ul .largeLinkCard .iconTitle {
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
#homeServicesOfferedLinks ul .largeLinkCard .iconTitle img {
  width: calc(2rem + 10px);
  -webkit-filter: invert(37%) sepia(15%) saturate(1045%) hue-rotate(262deg) brightness(88%) contrast(89%);
  filter: invert(37%) sepia(15%) saturate(1045%) hue-rotate(262deg) brightness(88%) contrast(89%);
  border-radius: 30px;
  border: 2px solid black;
  padding: 5px;
}
#homeServicesOfferedLinks ul .largeLinkCard .iconTitle span {
  padding-left: 10px;
  font-size: larger;
  position: relative;
}
#homeServicesOfferedLinks ul .largeLinkCard .iconTitle span::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #6B2D5C;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
#homeServicesOfferedLinks ul .largeLinkCard span {
  padding: 10px 20px;
  margin-left: 10px;
}
#homeServicesOfferedLinks ul .largeLinkCard span h5 {
  font-size: 1rem;
  font-weight: lighter;
}
#homeServicesOfferedLinks ul .largeLinkCard span .hoverUnderline span {
  position: relative;
  width: fit-content;
}
#homeServicesOfferedLinks ul .largeLinkCard span .hoverUnderline i {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
#homeServicesOfferedLinks ul .largeLinkCard:hover {
  box-shadow: none;
  background-color: white;
}
#homeServicesOfferedLinks ul .largeLinkCard:hover .iconTitle span {
  color: #6B2D5C;
  font-weight: bold;
}
#homeServicesOfferedLinks ul .largeLinkCard:hover .iconTitle span::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@media (max-width: 1900px) {
  .iconTitle span {
    padding-left: 0px !important;
  }
  .largeLinkCard {
    height: 200px !important;
  }
}
@media (max-width: 1814px) {
  #homeServicesOfferedLinks ul {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 1814px) {
  #homeServicesOfferedLinks ul {
    grid-template-columns: repeat(1, 1fr);
  }
  .iconTitle span {
    padding-left: 0px !important;
  }
  .largeLinkCard {
    height: 150px !important;
  }
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/*# sourceMappingURL=index.css.map */
